
<%= form_with model: movie, local: true, class: 'form' do |form| %>
  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :synopsis, class: 'form-label' %>
    <%= form.text_area :synopsis, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :director, class: 'form-label' %>
    <%= form.text_field :director, class: 'form-control' %>
  </div>

  <%= form.submit 'Agregar una película', class: 'btn btn-primary' %>
<% end %>
